body{
    
    font-family: 'Finger Paint', cursive;
    background-color: rgb(238, 210, 247);
    color:rgb(121, 90, 161);
    font-size:60px;
}
h1{
    font-size: 160px;
}

h1:hover{
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    font-size: 120px;
    color:rgb(45, 23, 73);
}

.intereststitle{
    margin-top:10%;
    margin-left: 13%;
    font-family: 'Bebas Neue', cursive;
    color:rgb(45, 23, 73);
    font-size:30px;
}
.interests > div{
    margin-left: 13%;
    font-family: 'Finger Paint', cursive;
    font-size: 50px;
    color:rgb(255, 122, 39);
    display: flex;
    justify-content: flex-start;
}
table{
    align-items: center;
    font-size: 100px;
    text-align: center;
    color:rgb(124, 79, 167);
    border: 25px;
    border-style: double;
    border-spacing: 30px;
    margin-left: 13%;
}
th{
    font-size: 120px;
    background-color:rgb(220, 139, 204);
}
td{
    font-size: 80px;
    background-color:rgb(205, 199, 243);
}
caption{
    font-family: 'Bebas Neue', cursive;
    color:rgb(45, 23, 73);
    font-size: 50px;
}

@media screen and (max-width: 960px) {
	.interests > div{
		font-size: 80px;
        flex-direction: column;
    }
        h1{
            text-align: right;
            font-size: 90px;
            font-family: 'Bebas Neue', cursive;
            color:rgb(45, 23, 73);
        }
        table{
            align-items: center;
            font-size: 40px;
            text-align: center;
            color:rgb(124, 79, 167);
            border: 2px;
            border-style: double;
            border-spacing: 20px;
        }
        th{
            font-size: 50px;}
            td{
                font-size:30px;
            }

            caption{
                font-family: 'Bebas Neue', cursive;
                color:rgb(45, 23, 73);
                font-size: 50px;
            }
}
@media print {
body{
    color:rgb(88, 55, 255);
}
h1{
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    font-size: 70px;
    color:rgb(3, 18, 75);
}
.intereststitle{
    font-size:35px;
    color:rgb(189, 36, 125);
}

.interests > div{
    font-size: 50px;
color:rgb(220, 26, 100); }

table{
    border: 20px;
    border-style: double;
    border-spacing: 20px;
}
th{
    font-size:50px;
    color:rgb(220, 17, 88);
    border: 20px;
}
td{
    color:rgb(76, 39, 124);
    font-size:20px;
}
caption{
    font-size:35px;
    color:rgb(194, 40, 130);
}
}
