body{
    
    font-family: 'Finger Paint', cursive;
    background-color: rgb(238, 210, 247);
    color:rgb(121, 90, 161);
}
h1{
    font-size: 80px;
}

h1:hover{
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    font-size: 130px;
    color:rgb(45, 23, 73);
}

.intereststitle{
    font-family: 'Bebas Neue', cursive;
    color:rgb(45, 23, 73);
    font-size:50px; 
}
.interests > div{
    font-family: 'Finger Paint', cursive;
    font-size: 250px;
    color:rgb(255, 144, 186);
    display: flex;
    justify-content: flex-start;
}
table{
    align-items: center;
    font-size: 100px;
    text-align: center;
    color:rgb(124, 79, 167);
    border: 25px;
    border-style: double;
    border-spacing: 30px;
}
th{
    font-size: 120px;
    background-color:rgb(205, 199, 243);
}
td{
    font-size: 80px;
    background-color:rgb(205, 199, 243);
}
caption{
    font-family: 'Bebas Neue', cursive;
    color:rgb(45, 23, 73);
    font-size: 50px;
}

@media screen and (max-width: 960px) {
	.interests > div{
		font-size: 80px;
        flex-direction: column;
    }
        h1{
            text-align: right;
            font-size: 90px;
            font-family: 'Bebas Neue', cursive;
            color:rgb(45, 23, 73);
        }
        table{
            align-items: center;
            font-size: 40px;
            text-align: center;
            color:rgb(124, 79, 167);
            border: 2px;
            border-style: double;
            border-spacing: 20px;
        }
        th{
            font-size: 50px;}
            td{
                font-size:30px;
            }

            caption{
                font-family: 'Bebas Neue', cursive;
                color:rgb(45, 23, 73);
                font-size: 50px;
            }
}
@media print {
body{
    color:rgb(107, 47, 84);
}
h1{
    font-family: 'Bebas Neue', cursive;
    text-align: right;
    font-size: 100px;
    color:rgb(124, 63, 202);
}
.intereststitle{
    font-size:35px;
    color:rgb(255, 173, 221);
}

.interests > div{
    font-size: 80px;
color:rgb(114, 8, 49); }

table{
    border: 20px;
    border-style: double;
    border-spacing: 20px;
}
th{
    font-size:50px;
    color:rgb(76, 39, 124);
    border: 20px;
}
td{
    color:rgb(76, 39, 124);
    font-size:30px;
}
caption{
    font-size:35px;
    color:rgb(255, 173, 221);
}
}
