body {
    margin-top:5%;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display:flex;
    justify-content: center;
    text-align: justify;
    background-color: black;
    /*cursor: help;*/
    line-height: 40px;
  }
  body {
    background-image: url("quotesout2\ copy.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
            background-position-x: 1.5vw;
            background-position-y: 0vh;
   
  }
  p{
    margin-top:25%;
    margin-left:7%;
    width: 900px;
    
  }
strong{
    font-family: 'RanchersRegular';
    font-weight: normal;
    font-style: normal;
    font-size:60px;
}