body{
    
    color:rgb(206, 199, 199);
}
body :hover{
    color:rgb(102, 62, 120);
    animation: an 7s infinite;
}
@keyframes an {
    from {background-color: rgb(206, 199, 199);}
    to {background-color:rgb(24, 3, 33);}
  }
p{
    font-size:180px;
    font-family: 'Bebas Neue';
    text-align: center;
    margin-top: 3%;
    margin-left: 25%;
    max-width: 800px;
}
@media screen and (max-width: 768px){
    body{
        color:rgb(30, 5, 41);        
}
p{
    font-size:100px;
    font-family: 'Bebas Neue';
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 600px;
}
}
